.titleWrap
  box-sizing: border-box
  z-index: 90
  width: 100%
  padding-left: 50%
  margin-top: 25%
  right: 0
  position: absolute
  bottom: 30vh
.title
  display: flex
  flex-direction: column
  color: #ffffff
  font-size: 30px
  margin-right: 80px
  text-align: right
  z-index: 90

  small
    font-size: 32px
    font-weight: 300

  strong
    font-size: 58px
    letter-spacing: 2px
    line-height: normal
    padding: 10px 0
    font-weight: 500
    transform: translateX(0px)

  span
    font-size: 52px
    color: #d7d8ca
    transform: translateX(-100px)
    font-weight: 700
