.titleWrap
  box-sizing: border-box
  z-index: 90
  width: 100%
  padding-left: 50%
  top: 50%
  right: 0
  position: absolute
  transform: translateY(-50%)
.title
  display: flex
  flex-direction: column
  color: #ffffff
  font-size: 30px
  margin-right: 100px
  text-align: right
  z-index: 90

  small
    font-size: 32px
    font-weight: 300

  strong
    font-size: 58px
    letter-spacing: 2px
    line-height: normal
    padding: 10px 0
    font-weight: 500
    transform: translateX(0px)

  span
    font-size: 52px
    color: #d7d8ca
    transform: translateX(-100px)
    font-weight: 700
@media screen and (max-width: 1400px)
  .titleWrap
    padding-left: 40%
  .title
    strong
      font-size: 48px
    span
      font-size: 42px
@media screen and (max-width: 1200px)
  .titleWrap
    padding-left: 20%
  .title
    margin-right: 40px
    small
      font-size: 22px
    span
      font-size: 32px
      transform: translateX(0)
    strong
      font-size: 36px
@media screen and (max-width: 768px)
  .titleWrap
    padding-left: 0
    top: 33%
@media screen and (max-width: 480px)
  .title
    text-align: left
    padding-left: 10px